.food-table {
  border-radius: 6px;
  overflow: hidden;
}

.food-table th,
.food-table td {
  padding: 10px 15px;
}

@media (max-width: 640px) {
  .food-table th,
  .food-table td {
    padding: 6px 8px;
  }
}

.food-table tbody tr {
  border-bottom: 1px solid #dfdfdfbb;
}

.dark .food-table tbody tr {
  border-bottom: 1px solid rgba(61, 61, 61, 0.267);
}

.food-table tbody tr:nth-child(even) {
  background-color: rgba(190, 184, 255, 0.377);
}

.dark .food-table tbody tr:nth-child(even) {
  background-color: #5e549146;
}

.food-table tbody tr:last-of-type {
  border-bottom: 4px solid rgb(55, 42, 172);
}
