@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-ss3: "Source Sans 3", system-ui;
}
