@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --font-opensans: "Open Sans", sans-serif;

  --color-light-text: hsl(0, 0%, 7%);
  --color-dark-text: hsl(0, 0%, 89%);

  --color-light-bg: hsl(0, 0%, 100%);
  --color-dark-bg: hsl(0, 0%, 11%);

  --color-light-primary: hsl(0, 0%, 98%);
  --color-dark-primary: hsl(0, 0%, 22%);

  --color-light-secondary: hsl(0, 0%, 95%);
  --color-dark-secondary: hsl(0, 0%, 21%);

  --color-light-border: hsl(0, 0%, 90%);
  --color-dark-border: hsl(0, 0%, 29%);
}

body {
  @apply font-opensans text-sm text-light-text dark:text-dark-text bg-light-bg dark:bg-dark-bg min-h-dvh;
}

.toast {
  @apply text-light-text dark:text-dark-text bg-light-secondary dark:bg-dark-secondary shadow-md;
}

.food-table th,
.food-table td {
  padding: 10px 15px;
}

.food-table tbody tr:nth-child(even) {
  @apply bg-light-secondary dark:bg-dark-primary/80;
}

.food-table tbody tr:nth-child(odd) {
  @apply bg-light-primary dark:bg-dark-secondary/50;
}

.food-table tbody tr:last-of-type {
  border-bottom: 4px solid rgb(55, 42, 172);
}
